In [1]:
import pandas as pd
import os
import pyarrow
import openpyxl

import os
import pyarrow
import openpyxl
import pickle
from typing import Dict

from exgauster.utils import DataOfExgauster
from dataclasses import dataclass
from typing import Optional
import exgauster.trained_booster

C:\tools\miniconda3\envs\stal\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.24.3
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [7]:
joined_m1 = pd.read_parquet('m1_answers_noresampled.parquet')
joined_m1_resampled = pd.read_parquet('submission_2_only_M1==1.parquet')
joined_m3 = pd.read_parquet('m3_answers_noresampled.parquet')
intervals = pd.read_excel(os.path.join('..', 'Датасеты', 'test_intervals.xlsx'))

In [14]:
intervals

     Unnamed: 0               start              finish  machine  tm
0            97 2022-01-01 10:54:53 2022-01-01 16:43:39      NaN NaN
1           118 2022-01-02 12:26:42 2022-01-02 15:16:06      NaN NaN
2           126 2022-01-04 12:06:07 2022-01-04 15:04:34      NaN NaN
3           163 2022-01-04 20:13:57 2022-01-05 00:19:40      NaN NaN
4             0 2022-01-07 09:05:16 2022-01-07 14:05:15      NaN NaN
..          ...                 ...                 ...      ...  ..
184          66 2023-04-07 15:36:42 2023-04-07 19:27:38      NaN NaN
185         138 2023-04-09 19:55:43 2023-04-09 23:12:53      NaN NaN
186          67 2023-04-10 18:08:25 2023-04-10 21:47:02      NaN NaN
187          68 2023-04-18 02:28:43 2023-04-18 06:38:47      NaN NaN
188          69 2023-04-20 16:41:58 2023-04-20 23:58:07      NaN NaN

[189 rows x 5 columns]

In [3]:
for idx, row in intervals.iterrows():
    start_date = row['start']
    end_date = row['finish']
    print(idx, start_date, end_date)

0 2022-01-01 10:54:53 2022-01-01 16:43:39
1 2022-01-02 12:26:42 2022-01-02 15:16:06
2 2022-01-04 12:06:07 2022-01-04 15:04:34
3 2022-01-04 20:13:57 2022-01-05 00:19:40
4 2022-01-07 09:05:16 2022-01-07 14:05:15
5 2022-01-08 08:06:21 2022-01-08 11:06:14
6 2022-01-09 03:32:20 2022-01-09 07:06:45
7 2022-01-10 23:27:44 2022-01-11 03:41:15
8 2022-01-16 20:01:07 2022-01-16 22:50:17
9 2022-01-19 02:24:42 2022-01-19 07:29:32
10 2022-01-19 15:03:18 2022-01-19 19:30:07
11 2022-01-24 05:57:27 2022-01-24 09:22:48
12 2022-01-24 23:56:59 2022-01-25 02:51:29
13 2022-01-29 23:33:45 2022-01-30 04:06:42
14 2022-02-03 23:51:16 2022-02-04 02:47:56
15 2022-02-06 18:05:24 2022-02-06 23:44:27
16 2022-02-12 16:37:03 2022-02-13 09:42:17
17 2022-02-24 14:52:35 2022-02-24 18:58:49
18 2022-02-25 03:44:52 2022-02-25 08:15:03
19 2022-03-03 06:01:43 2022-03-03 12:01:24
20 2022-03-06 22:18:14 2022-03-07 03:37:22
21 2022-03-11 06:06:36 2022-03-11 16:26:01
22 2022-03-15 04:27:52 2022-03-15 10:01:46
23 2022-03-18 05:40:23 2022-03-18 09:00:52
24 2022-03-20 15:07:30 2022-03-20 19:12:11
25 2022-03-21 01:29:58 2022-03-21 05:35:13
26 2022-03-22 04:32:05 2022-03-22 12:41:40
27 2022-03-22 15:20:07 2022-03-22 18:51:43
28 2022-03-26 15:39:55 2022-03-26 19:42:57
29 2022-03-28 08:13:39 2022-03-28 13:22:50
30 2022-04-02 05:53:22 2022-04-02 10:17:33
31 2022-04-04 01:54:11 2022-04-04 04:50:28
32 2022-04-05 06:35:45 2022-04-05 10:08:21
33 2022-04-05 12:35:56 2022-04-05 15:58:20
34 2022-04-06 16:31:35 2022-04-07 11:59:39
35 2022-04-09 16:22:51 2022-04-09 20:50:23
36 2022-04-11 02:53:01 2022-04-11 07:42:28
37 2022-04-12 17:31:28 2022-04-12 22:30:53
38 2022-04-15 17:40:00 2022-04-15 20:44:06
39 2022-04-16 09:19:50 2022-04-16 13:26:48
40 2022-04-17 01:20:26 2022-04-17 04:39:51
41 2022-04-18 05:43:05 2022-04-18 09:53:45
42 2022-04-19 08:16:34 2022-04-19 11:39:43
43 2022-04-27 03:41:55 2022-04-27 08:21:24
44 2022-04-29 13:01:08 2022-04-29 16:14:38
45 2022-04-29 19:10:10 2022-04-30 00:04:30
46 2022-04-30 18:06:28 2022-04-30 23:28:32
47 2022-05-01 11:45:01 2022-05-01 15:28:43
48 2022-05-05 14:02:39 2022-05-05 17:55:54
49 2022-05-06 03:00:47 2022-05-06 07:21:25
50 2022-05-07 22:23:50 2022-05-08 01:34:36
51 2022-05-08 10:34:59 2022-05-08 15:19:32
52 2022-05-09 19:55:20 2022-05-10 00:49:22
53 2022-05-16 21:49:47 2022-05-17 02:03:08
54 2022-05-18 00:25:31 2022-05-18 04:06:01
55 2022-05-18 12:10:27 2022-05-18 16:06:16
56 2022-05-20 14:13:37 2022-05-20 18:09:54
57 2022-05-24 18:46:21 2022-05-24 22:04:44
58 2022-05-25 04:35:34 2022-05-25 09:13:33
59 2022-05-26 12:23:08 2022-05-26 17:00:02
60 2022-05-27 15:16:55 2022-05-27 18:36:31
61 2022-05-28 20:32:05 2022-05-29 00:54:16
62 2022-05-30 08:25:45 2022-05-30 11:56:13
63 2022-05-30 14:57:41 2022-05-30 19:04:11
64 2022-05-31 17:43:56 2022-05-31 22:53:19
65 2022-06-07 12:04:13 2022-06-07 17:09:21
66 2022-06-14 17:24:46 2022-06-14 20:56:33
67 2022-06-14 21:43:23 2022-06-15 01:52:59
68 2022-06-19 05:56:50 2022-06-19 09:37:19
69 2022-06-19 15:05:56 2022-06-19 19:34:29
70 2022-06-20 12:03:48 2022-06-20 17:40:32
71 2022-06-22 03:30:09 2022-06-22 06:41:29
72 2022-06-22 04:02:00 2022-06-22 19:55:55
73 2022-06-23 23:47:19 2022-06-24 05:20:52
74 2022-06-29 10:58:52 2022-06-29 14:37:29
75 2022-07-01 20:42:07 2022-07-01 23:47:49
76 2022-07-02 14:21:10 2022-07-02 18:11:14
77 2022-07-08 17:15:55 2022-07-08 22:20:41
78 2022-07-09 07:56:31 2022-07-09 11:45:56
79 2022-07-10 04:56:42 2022-07-10 10:07:27
80 2022-07-10 09:58:58 2022-07-10 13:02:15
81 2022-07-10 16:19:31 2022-07-10 20:26:41
82 2022-07-11 12:51:09 2022-07-11 18:07:20
83 2022-07-12 04:33:08 2022-07-12 08:27:02
84 2022-07-13 01:35:50 2022-07-13 05:36:24
85 2022-07-18 17:35:56 2022-07-18 21:34:24
86 2022-07-19 08:01:59 2022-07-19 12:58:16
87 2022-07-22 13:18:36 2022-07-22 23:06:43
88 2022-07-23 11:56:25 2022-07-23 15:22:18
89 2022-07-26 01:09:58 2022-07-26 06:26:42
90 2022-07-27 04:35:05 2022-07-27 08:25:00
91 2022-08-02 01:43:17 2022-08-02 04:42:22
92 2022-08-03 03:44:42 2022-08-03 07:32:00
93 2022-08-05 09:40:44 2022-08-05 15:30:54
94 2022-08-07 17:47:50 2022-08-07 21:29:06
95 2022-08-09 20:16:51 2022-08-09 23:48:59
96 2022-08-15 18:12:13 2022-08-16 16:42:44
97 2022-08-18 13:15:35 2022-08-18 17:26:24
98 2022-08-20 14:39:40 2022-08-20 18:59:47
99 2022-08-24 22:14:12 2022-08-25 01:57:29
100 2022-08-26 01:16:35 2022-08-26 04:48:09
101 2022-08-27 20:27:45 2022-08-28 00:33:28
102 2022-09-01 01:16:13 2022-09-01 07:33:38
103 2022-09-01 07:33:32 2022-09-01 14:50:05
104 2022-09-03 08:11:54 2022-09-03 13:55:19
105 2022-09-05 16:11:06 2022-09-05 20:51:43
106 2022-09-18 11:09:15 2022-09-18 23:01:48
107 2022-09-23 06:36:45 2022-09-24 07:35:14
108 2022-09-28 03:34:45 2022-09-28 08:09:52
109 2022-10-03 01:30:13 2022-10-03 06:58:48
110 2022-10-03 11:38:44 2022-10-03 17:50:22
111 2022-10-05 19:52:17 2022-10-06 00:26:58
112 2022-10-08 19:41:27 2022-10-09 01:01:14
113 2022-10-18 17:18:21 2022-10-18 20:16:58
114 2022-10-19 07:27:10 2022-10-19 10:35:55
115 2022-10-19 16:30:53 2022-10-19 20:01:11
116 2022-10-21 09:11:41 2022-10-21 15:06:49
117 2022-10-21 20:27:32 2022-10-22 00:42:28
118 2022-10-30 06:37:33 2022-10-30 10:58:02
119 2022-10-31 06:31:49 2022-10-31 10:29:03
120 2022-10-31 12:45:42 2022-10-31 18:25:01
121 2022-11-02 15:28:52 2022-11-02 20:48:12
122 2022-11-05 02:21:45 2022-11-05 06:39:02
123 2022-11-05 07:13:20 2022-11-05 11:51:22
124 2022-11-10 14:11:33 2022-11-10 19:52:50
125 2022-11-19 06:06:07 2022-11-19 11:00:53
126 2022-11-20 07:46:54 2022-11-20 11:55:00
127 2022-11-22 01:15:31 2022-11-22 05:38:25
128 2022-11-22 01:40:47 2022-11-22 04:45:28
129 2022-11-22 21:16:46 2022-11-23 01:21:42
130 2022-11-24 01:32:31 2022-11-24 05:52:14
131 2022-11-24 16:04:09 2022-11-25 05:48:53
132 2022-11-26 12:35:49 2022-11-26 17:14:34
133 2022-11-26 21:21:29 2022-11-27 02:10:13
134 2022-11-28 19:58:29 2022-11-29 06:29:16
135 2022-12-01 10:12:02 2022-12-01 14:46:00
136 2022-12-06 15:39:59 2022-12-06 19:31:36
137 2022-12-14 01:38:39 2022-12-14 05:23:57
138 2023-01-02 06:01:18 2023-01-02 10:03:08
139 2023-01-07 12:25:37 2023-01-07 17:26:54
140 2023-01-08 18:05:08 2023-01-08 23:28:50
141 2023-01-10 07:58:23 2023-01-10 14:08:44
142 2023-01-10 09:00:13 2023-01-10 13:30:37
143 2023-01-10 12:16:07 2023-01-10 16:29:11
144 2023-01-13 21:48:35 2023-01-14 02:19:13
145 2023-01-15 10:57:03 2023-01-15 16:18:52
146 2023-01-17 10:44:10 2023-01-17 14:10:52
147 2023-01-21 08:30:04 2023-01-21 14:23:14
148 2023-01-22 19:51:45 2023-01-23 01:29:45
149 2023-01-25 22:18:27 2023-01-26 02:34:21
150 2023-01-26 04:27:26 2023-01-26 08:39:49
151 2023-01-27 15:25:42 2023-01-27 18:30:05
152 2023-02-02 08:13:22 2023-02-02 10:55:56
153 2023-02-04 03:38:53 2023-02-04 06:55:47
154 2023-02-07 01:02:27 2023-02-07 06:19:58
155 2023-02-08 22:17:49 2023-02-09 02:03:51
156 2023-02-09 19:18:18 2023-02-10 01:09:49
157 2023-02-12 18:29:48 2023-02-13 00:19:51
158 2023-02-25 17:53:01 2023-02-25 20:54:26
159 2023-02-28 01:43:59 2023-02-28 06:29:04
160 2023-02-28 16:25:30 2023-02-28 21:15:19
161 2023-03-01 14:01:06 2023-03-01 18:40:33
162 2023-03-03 20:38:12 2023-03-04 00:36:29
163 2023-03-04 11:29:22 2023-03-04 15:41:25
164 2023-03-05 03:06:16 2023-03-05 08:11:54
165 2023-03-05 18:26:32 2023-03-05 22:30:09
166 2023-03-07 00:00:25 2023-03-07 04:13:36
167 2023-03-09 13:59:25 2023-03-09 17:18:48
168 2023-03-10 05:05:26 2023-03-10 09:53:30
169 2023-03-10 11:18:44 2023-03-10 15:51:33
170 2023-03-11 00:37:24 2023-03-11 05:07:52
171 2023-03-11 06:16:49 2023-03-11 10:49:44
172 2023-03-13 17:35:03 2023-03-13 20:47:07
173 2023-03-14 21:36:58 2023-03-15 01:55:25
174 2023-03-17 00:34:51 2023-03-17 19:22:45
175 2023-03-18 20:21:42 2023-03-18 23:53:27
176 2023-03-25 01:23:44 2023-03-25 04:44:49
177 2023-03-27 04:14:36 2023-03-27 07:23:28
178 2023-03-27 20:17:33 2023-03-27 23:33:50
179 2023-03-29 20:18:38 2023-03-29 23:51:21
180 2023-04-03 23:22:34 2023-04-04 05:33:44
181 2023-04-05 07:14:27 2023-04-05 11:14:25
182 2023-04-06 18:07:30 2023-04-06 22:09:35
183 2023-04-07 08:20:27 2023-04-07 11:55:03
184 2023-04-07 15:36:42 2023-04-07 19:27:38
185 2023-04-09 19:55:43 2023-04-09 23:12:53
186 2023-04-10 18:08:25 2023-04-10 21:47:02
187 2023-04-18 02:28:43 2023-04-18 06:38:47
188 2023-04-20 16:41:58 2023-04-20 23:58:07

In [17]:
variants_for_rows = []
new_intervals = intervals.copy()

for idx, row in intervals.iterrows():
    start_date = row['start']
    end_date = row['finish']
    m1_vairiants = []
    new_intervals.at[idx, 'Unnamed: 0'] = idx
    for column in joined_m1_resampled.columns:
        subset = joined_m1_resampled.loc[start_date:end_date, column]
        count = subset.sum()
        if count > 0:
            machine = column[2:19]
            tech_mest = column[20:]
            m1_vairiants.append((count, machine, tech_mest))
    if m1_vairiants:
        m1_vairiants = list(reversed(sorted(m1_vairiants)))
        machine = m1_vairiants[0][1]
        tm = m1_vairiants[0][2]
        result_tuple = (idx, start_date, end_date, machine, tm)
        variants_for_rows.append(result_tuple)
        new_intervals.at[idx, 'tm'] = tm
        new_intervals.at[idx, 'machine'] = machine
        print(result_tuple)

    # добавить в dataframe

(44, Timestamp('2022-04-29 13:01:08'), Timestamp('2022-04-29 16:14:38'), 'ЭКСГАУСТЕР А/М №8', 'РОТОР ЭКСГ. №8')
(46, Timestamp('2022-04-30 18:06:28'), Timestamp('2022-04-30 23:28:32'), 'ЭКСГАУСТЕР А/М №6', 'ЗАДВИЖКА ЭКСГ. №6')
(70, Timestamp('2022-06-20 12:03:48'), Timestamp('2022-06-20 17:40:32'), 'ЭКСГАУСТЕР А/М №8', 'ЭЛЕКТРОДВИГАТЕЛЬ ДСПУ-140-84-4 ЭКСГ. №8')
(138, Timestamp('2023-01-02 06:01:18'), Timestamp('2023-01-02 10:03:08'), 'ЭКСГАУСТЕР А/М №6', 'ЗАДВИЖКА ЭКСГ. №6')
(139, Timestamp('2023-01-07 12:25:37'), Timestamp('2023-01-07 17:26:54'), 'ЭКСГАУСТЕР А/М №8', 'РОТОР ЭКСГ. №8')
(140, Timestamp('2023-01-08 18:05:08'), Timestamp('2023-01-08 23:28:50'), 'ЭКСГАУСТЕР А/М №8', 'РОТОР ЭКСГ. №8')
(162, Timestamp('2023-03-03 20:38:12'), Timestamp('2023-03-04 00:36:29'), 'ЭКСГАУСТЕР А/М №7', 'РОТОР ЭКСГ. №7')
(163, Timestamp('2023-03-04 11:29:22'), Timestamp('2023-03-04 15:41:25'), 'ЭКСГАУСТЕР А/М №7', 'РОТОР ЭКСГ. №7')
(170, Timestamp('2023-03-11 00:37:24'), Timestamp('2023-03-11 05:07:52'), 'ЭКСГАУСТЕР А/М №8', 'РОТОР ЭКСГ. №8')
(171, Timestamp('2023-03-11 06:16:49'), Timestamp('2023-03-11 10:49:44'), 'ЭКСГАУСТЕР А/М №8', 'РОТОР ЭКСГ. №8')

In [19]:
new_intervals.to_excel('submission_1.xlsx')

In [16]:
row['Unnamed: 0']

69